body {
    padding-top: 100px;
    background-color: bisque;
}

h1 {
    margin-left: 100px;
    font: italic 40px Georgia, serif;
    color: #faebda;
}

#help {
    margin-left: 150px;
    margin-right: 150px;
}

* {box-sizing: border-box}

/* Style the tab */
.tabs {
  overflow: hidden;
  border: 1px solid bisque;
  background-color: bisque;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
  background-color: rgb(99, 51, 48);
  color:#faebda;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #faebda;
  color:rgb(99, 51, 48);
}

/* Create an active/current "tab button" class */
.tabs button.active {
  background-color: rgb(192, 135, 106);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid burlywood;
  border-top: none;
}


/* Add a brown background color to the top navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(99, 51, 48);
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: fixed;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #faebda;
    text-align: center;
    padding: 38px 50px;
    text-decoration: none;
    font-size: 20px;
}

/* Create a different colored button inside the navigation bar */
.navbar a#split {
    background-color: rgb(119, 71, 68);
    color: white;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #faebda;
    color: rgb(99, 51, 48);
}

/* Add a color to the active/current link */
.navbar a#active {
    background-color: rgb(205, 124, 83);
    color: #faebda;
}