/* Added padding to the body */
body {
    padding-top: 100px;
    background-color: bisque;
}

/* Left margin is moved 100px */
h1 {
    margin-left: 100px;
    font: italic 40px Georgia, serif;
    color: #faebda;
}

/* Left margin is moved 100px and color is changed */
:where(h2, legend) {
    margin-left: 100px;
    margin-bottom: 0px;
    font-style: italic;
    font-family: Georgia, serif;
    color:rgb(99, 51, 48);
}

/* Left margin is moved 100px and font is changed */
pre{
    margin-left:100px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: Georgia, serif;
    font-size: 16px;
}

/* Add a brown background color to the top navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(99, 51, 48);
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: fixed;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #faebda;
    text-align: center;
    padding: 38px 50px;
    text-decoration: none;
    font-size: 20px;
}

/* Create a different colored button inside the navigation bar */
.navbar a#split {
    background-color: rgb(119, 71, 68);
    color: #faebda;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #faebda;
    color: rgb(99, 51, 48);
}

/* Add a color to the active/current link */
.navbar a#active {
    background-color: rgb(205, 124, 83);
    color: white;
}

/* Styled the Search bar */
#search-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.gsc-input-box {
    width:600px
}

#search-container button {
    padding: 5px 25px;
    color: #faebda;
    border-radius: 3px;
    margin-top: 0px;
    margin-right: 5px;
    background: sienna;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#search-container button:hover {
    background: rgb(179, 121, 94);
}

#container{
    color:black;
}

/* Left margin is moved 100px and font is changed */
h3{
    text-align: center;
    color: rgb(99, 51, 48);
    font: italic 25px Georgia, serif;
}