body {
    margin: 0;
    background-color: bisque;
}

h1 {
    margin-left: 100px;
    font: italic 40px Georgia, serif;
    color: #faebda;
}

/* Add a brown background color to the top navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(99, 51, 48);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #faebda;
    text-align: center;
    padding: 38px 50px;
    text-decoration: none;
    font-size: 20px;
}

/* Create a different colored button inside the navigation bar */
.navbar a#split {
    background-color: rgb(119, 71, 68);
    color: #faebda;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #faebda;
    color: rgb(99, 51, 48);
}

/* Add a color to the active/current link */
.navbar a#active {
    background-color: rgb(205, 124, 83);
    color: white;
}

/* #search-container {
    display: flex;
    justify-content: center;
}

input[type=text] {
    padding: 12px;
    border: none;
    border-radius: 3px;
    width: 600px;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 17px;
} */

#search-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.gsc-input-box {
    width:600px
}

#search-container button {
    padding: 5px 25px;
    color: #faebda;
    border-radius: 3px;
    margin-top: 0px;
    margin-right: 5px;
    background: sienna;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#search-container button:hover {
    background: rgb(179, 121, 94);
}

#container{
    color:black;
}

h3{
    text-align: center;
    color: rgb(99, 51, 48);
    font: italic 25px Georgia, serif;
}